<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>카테고리 목록</title>

    <th:block layout:fragment="css">
        <style>
            .custom-size{
                width: 500px;
                position : absolute;
                right : 20px;
            }
                td:last-child, th:last-child {
                width: 200px;
            }
            .delBtn{
                margin : 0;
                padding : 1px 3px
            }
            #mainContainer{
                width: 750px;
                height : 400px;
            }
        </style>
    </th:block>
</head>
<body>
<main layout:fragment="content">

    <div class="custom-size" >
        <table class="table">
            <thead>
            <tr class="text-center">
                <th scope="col" class="text-primary">번호</th>
                <th scope="col" class="text-primary">카테고리</th>
                <th scope="col" class="text-primary"></th>
                <th scope="col" class="text-primary">날짜</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${pageDto.objects}" class="text-center">
                <td th:text="${category.categoryId}">id</td>
                <td><a th:href="@{/post/show/{id}(id=${category.categoryId})}" th:text="${category.categoryName}">카테고리이름</a></td>
                <td style="width : 70px">
    <!--                <button type="button" class="btn btn-light btn-sm delBtn" th:onclick="|window.location.href='/categories/delete/${category.categoryId}'|">삭제</button>-->
                    <button type="button" class="btn btn-light btn-sm delBtn" th:data-url="@{/categories/delete/{categoryId}(categoryId=${category.categoryId})}"  onclick="deleteCategory(event)">삭제</button>
                </td>
                <td th:text="${category.createdAt}">날짜</td>

            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" style="position:relative;">
            <ul class="pagination">
                <li th:class="${pageDto.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage}-1),size=${pageDto.size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li >
                <th:block th:if="${pageDto.totalPageNum < 3}">
                    <th:block th:each="num : ${#numbers.sequence(0, pageDto.totalPageNum - 1)}">
                        <th:block th:if="${pageDto.currentPage == 1}">
                            <li class="page-item">
                                <a th:class="${pageDto.currentPage == (pageDto.currentPage+num) ? 'page-link active' : 'page-link'}"
                                   th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                                   th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageDto.currentPage == pageDto.totalPageNum}">
                            <li class="page-item">
                                <a th:class="${pageDto.currentPage == (pageDto.currentPage+num-1) ? 'page-link active' : 'page-link'}"
                                   th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                                   th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageDto.currentPage != 1 and pageDto.currentPage != pageDto.totalPageNum}">
                            <li class="page-item">
                                <a th:class="${pageDto.currentPage == (pageDto.currentPage+num) ? 'page-link active' : 'page-link'}"
                                   th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
            pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                                   th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num) :
            pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
                                </a>
                            </li>
                        </th:block>
                    </th:block>
                </th:block>
                <!---------------------------------------------------------------------->
                <th:block th:if="${pageDto.totalPageNum > 2}">
                    <th:block th:each="num: ${#numbers.sequence(-1,1)}">
                        <th:block th:if="${pageDto.currentPage == 1}">
                            <li class="page-item">
                                <a th:class="${pageDto.currentPage == (pageDto.currentPage+num+1) ? 'page-link active' : 'page-link'}"
                                   th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                                   th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageDto.currentPage == pageDto.totalPageNum}">
                            <li class="page-item">
                                <a th:class="${pageDto.currentPage == (pageDto.currentPage+num-1) ? 'page-link active' : 'page-link'}"
                                   th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                                   th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
          pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageDto.currentPage != 1 and pageDto.currentPage != pageDto.totalPageNum}">
                            <li class="page-item">
                                <a th:class="${pageDto.currentPage == (pageDto.currentPage+num) ? 'page-link active' : 'page-link'}"
                                   th:text="${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
            pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}"
                                   th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage == 1 ? (pageDto.currentPage+num+1) :
            pageDto.currentPage == pageDto.totalPageNum ? (pageDto.currentPage+num-1) : (pageDto.currentPage+num)}),size=${pageDto.size})}">
                                </a>
                            </li>
                        </th:block>
                    </th:block>
                </th:block>
                <li th:class="${pageDto.currentPage == pageDto.totalPageNum ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/categories/list?page={page}&size={size}(page=(${pageDto.currentPage}+1),size=${pageDto.size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <button type="button" class="btn btn-outline-primary btn-sm" id="createBtn" style="position: absolute; right: 3px;" th:onclick="|window.location.href='/categories/create'|">카테고리 추가</button>
            </ul>
        </nav>
    </div>
</main>

</body>
<th:block layout:fragment="js">
    <script src="/js/list.js"></script>
</th:block>

</html>