<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <!-- Bootstrap CSS 연결 -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .form-container {
        width: 500px;
        margin: 50px auto;
        padding: 30px;
        background-color: #f8f9fa;
        border-radius: 8px;
    }
    .btn-success {
        width: 100%; /* 버튼을 전체 너비로 */
    }
    .form-control:focus {
        border: 2px solid rgba(40, 167, 69, 0.2);
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
    }
  </style>
</head>
<body>

<div class="form-container">

  <h3 class="text-center text-success mb-4">로그인</h3>
  <div th:if="${session.error}">
    <p th:text="${session.error}" style="color: red;"></p>
  </div>
  <form action="/login" method="POST">
    <!-- 이메일 입력 필드 -->
    <div class="form-group">
      <label for="email" class="text-success">이메일</label>
      <input type="email" class="form-control" id="email" name="username" placeholder="이메일을 입력하세요" required>
    </div>

    <!-- 비밀번호 입력 필드 -->
    <div class="form-group">
      <label for="password" class="text-success">비밀번호</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <!-- 로그인 버튼 -->
    <button type="submit" class="btn btn-success">로그인</button>
  </form>

  <div class="text-center mt-3">
    <a href="/signup" class="text-success">회원가입</a>
  </div>
</div>

<!-- Bootstrap JS, Popper.js, jQuery 연결 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>