<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userbase}">
<head>
    <title>메인페이지</title>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<main layout:fragment="content">
    <p>DBshop입니다.</p>
    <section id="products" class="mt-4">
        <h2>오늘의 상품</h2>
        <th:block th:each="product : ${products}">
            <div class="row g-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="/my/add-item" method="post">
                                    <h5 class="card-title" th:text="${product.productName}">이름</h5>
                                    <p class="card-text" th:text="${product.price}+'원'">가격</p>
                                <button class="btn btn-success">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>


    </section>
</main>

</body>
<th:block layout:fragment="js">
</th:block>


</html>